
        <div id="about">
        <div class="t">
                <h1 class="u">ABOUT ME</h1>
          <h1 class="v">
              
                I am an Undergraduate from Narasaraopeta Engineering college.I had done my Bachelors in Computer Science.<br>
              Web designing and Cryptography are the fields that i'm intrested in and done some projects based on those.<br>
              Done certification in major courses like Angular,Node js and python.<br>
              Projects done by me are : <p style="color: blue;">LEAVE MANAGEMENT SYSTEM, BLOOD DONATION SYSTEM, CAMPUS RECRUITMENT SYSTEM AND PERSONAL PORTFOLIOS </p><br>
              I'm a member of my college Kabaddi team and i play Soccer and Cricket,I also topped in some Drawing competitions.
           </h1>
        </div>
        </div>
    
