
    <div class="display-container content center" style="max-width:1500px">
    <div class="iage">
        <div class="c">
            <h1 class="e">CHANDRA SEKHAR</h1><br>
            <h3 class="e">DEVELOPER</h3>
          </div>
          <div class="bar light-grey round display-bottommiddle " style="bottom:-16px">
            <a href="#" class="bar-item button">HOME</a>
            <a href="#about" class="bar-item button">ABOUT ME</a>
            <a href="#appointment" class="bar-item button">Appointment</a>
            <a href="#contact" class="bar-item button">CONTACT</a>
          </div>
    </div>
    </div>
