
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
  <div id="contact">
  <div class="col">
    <div class="abc">
    <h2>Marachu Chandra Sekhar Chowdary<sub><h3>B.Tech(cse)</h3></sub></h2><br>
    <i class="fa fa-map-marker cc" style="width: 30px;"></i><p class="ccc">Guntur,AP,India</p><br>
    <i class="fa fa-mobile cc" style="width: 30px;"></i><p class="ccc">+91 9177597361</p><br>
    <i class="fa fa-envelope cc" style="width: 30px;"></i><p class="ccc">sekharchandra936@gmail.com</p><br>
    <a href="https://www.facebook.com/profile.php?id=100008181911926" class="fa fa-facebook-official hover-opacity cc"></a>
    <a href="https://www.instagram.com/sekharchandra79?r=nametag" class="fa fa-instagram hover-opacity cc"></a>
    <a href="https://www.snapchat.com/add/sekharc579" class="fa fa-snapchat hover-opacity cc"></a>
    <a href="https://twitter.com/MarachuSekhar?s=09" class="fa fa-twitter hover-opacity cc"></a>
    <a href="https://www.linkedin.com/in/chandra-sekhar-marachu-a36312160" class="fa fa-linkedin hover-opacity cc"></a>
    </div>
  </div>
  <div class="col">
    <div class="def">
    <img src="../../assets/images/ph44.jpg" alt="chandu" style="width: 100%;">
    </div>
  </div>
  </div>
</body>
